<h1 class="text-center">Hacker News Archive 2014</h1>

<form action="/articles" method="get" class="form">
  <div class="search-param form-group">
    <label for="search">
      Search Articles
    </label>
    <input  class="form-control"
            name="search"
            id="search"
            value="<%= search_params[:search] %>"
    />
  </div>

  <div class="search-param">
    <label for="advanced">Advanced Search</label>
    <input  id="advanced"
            name="advanced"
            type="checkbox"
            <%= search_params[:advanced].present? ? "checked=true" : nil %>
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
  <caption>Search Results</caption>

  <thead>
    <tr>
      <th scope="col">result_number</th>
      <th scope="col">title</th>
      <th scope="col">url</th>
    </tr>
  </thead>

  <tbody class="article-search-results">
    <% ArticlesHelper.search(search_params[:search], advanced: search_params[:advanced]).each_with_index do |article, i| %>
      <tr>
        <td><%= i %></td>
        <td><%= article['highlighted_title'].html_safe %></td>
        <td><a href="<%= article['url'] %>"><%= truncate_middle article['url'] %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
